.title{
    margin-bottom: 0;
}
img {
    width: 70px;
}

.form-layout{
    height: 250px;
    width: 420px;
    border: 2px solid #E3DEDE;
}


.centering{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top{
    margin-bottom: 2em;
}

.input-type{
    width: 350px;
    padding: 0.9em;
    border: 2px solid #E3DEDE;
}

.logo{
    align-self: center;
    padding: 1em;
}
.icon{
    width: 80px;
}

.sign-in-title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.sign-up-section{
    border: 2px solid #E3DEDE;
    width: 420px;
    margin: auto;
    margin-top: 2em;
}

.bottom-sec{
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin: auto;
    margin-top: 2em;
}

.copyright{
    color: #403F3F;
    opacity: 0.5;
}

@media(min-width: 500px){
    .form{
        padding: 9em;
       
    }
    .icon{
        width: 10%;

    }
}