.profile, .settings{
    border-bottom: 2px solid #DFDFDF;
    letter-spacing: 1px;
}

/* Settings */
.settings{
    text-align: right;
}
.setting-icon{
    margin-right: 1em;
    font-size: 1.5rem;
    padding: 0.3em;
}

/* Profile */

.profile{
    padding: 1em;
}
.profile-header{
    display: flex;
    justify-content: center;
}

.profile-img{
    max-width: 70px;
    width: 100%;
    border-radius: 10px;
}

.profile-name{
    font-size: 1rem;
}

.profile-username{
    margin-right: 0;
    cursor: pointer;
}

.profile-username:hover{
    color: #178fff;
}

.profile-bio{
    width: 400px;
    margin: auto;
}

.description{
    text-align: center;
    font-size: 0.8rem;
    line-height: 2em;
}

.profile-name,.profile-username,.profile-hashtag{
    margin:0.3em;
}

.profile-credentials{
    font-size: 0.6rem;
    text-align: center;
}

/* Edit */
form{
    display: flex;
    flex-direction: column;
}