.card{
    background-color: #fdfdfd;
    border-radius: 5px;
    padding: 3em;

    
   
}

.cards{
    margin-top: 4em;
}

.exp{
    font-size: 1.2em;
    letter-spacing: 2px;
}

.profile-img{
    width: 125px;
}

.icon {
    width: 50px;
}