.title{
    margin-bottom: 0;
}
img {
    width: 70px;
}

.form-layout{
    height: 400px;
    width: 420px;
    border: 2px solid #E3DEDE;
}


.centering{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top{
    margin-bottom: 0.5em;
}

.input-type{
    width: 350px;
    padding: 0.9em;
    border: 2px solid #E3DEDE;
}

.logo{
    align-self: center;
    padding: 1em;
}
.icon{
    width: 80px;
}

.sign-in-title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.sign-up-section{
    border: 2px solid #E3DEDE;
    width: 420px;
    margin: auto;
    margin-top: 2em;
}

.bottom-sec{
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin: auto;
    margin-top: 2em;
}

.copyright{
    color: #403F3F;
    opacity: 0.5;
}

.sub {
    background-color: #44a6f7;
    color: #fff;
    padding: 1em 7em;
    margin-top: 1em;
    cursor: pointer;
    border: none;
}

@media(max-width: 700px){

    .sign-up-section{
        border: none;
        margin: 0;
    }

    .bottom-sec{
        width: 320px;
    }
  
    


    .form-layout{
        border: none;
    }

    .input-type{
        padding: 1;
    }
    .icon{
        width: 0%;

    }
}